@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #5F6FFF;
    --color-borderColor: #c4c7d2;
}

* {
    font-family: Outfit, serif;
}

::-webkit-scrollbar{
    @apply hidden
}


/*
.border{
    @apply border-gray-300;
}*/
