@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #5f6FFF;
    --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

* {
    font-family: Outfit;
}

.active hr {
    @apply block
}

::-webkit-scrollbar {
    @apply hidden
}

.border {
    border-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
}





